.btn-create,
.btn-create-column {
    @include button-style($color-btn-add, $color-background, 3px);
}

.btn-delete {
    @include button-style($color-btn-delete, $color-background, 3px);
    font-size: 20px;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
}
