.btn-create,
.btn-create-column {
    @include button-style($color-btn-add, $color-primary, 3px);
}

.btn-delete {
    @include button-style($color-btn-delete, $color-primary, 3px);
    font-size: 18px;
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 6px;
    right: 5px;
}
