.card {
    position: relative;
    list-style-type: none;
    width: 90%;
    padding: 15px;
    margin: 0 auto 20px;
    background-color: $color-primary;
    border-radius: $border-radius;
    word-wrap: break-word;
}

.card-placeholder {
    border: 3px dashed $color-dark;
    border-radius: $border-radius;
    list-style-type: none;
    height: 60px;
    width: 85%;
    margin: 0 auto 20px;
}
