.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    border-top: 1px solid $color-dark;
}

.column {
    position: relative;
    margin-bottom: 30px;
    max-width: 250px;
    width: 100%;

    .btn-create {
        margin-bottom: 30px;
    }
}

.column-placeholder {
    border: 3px dashed $color-dark;
    border-radius: $border-radius;
    list-style-type: none;
    height: 400px;
    width: 250px;
}

.column-card-list {
    @include clear-mp;
    min-height: 10px;
}

.column-title {
    @include clear-mp;
    width: 100%;
    padding: 5px 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-dark;
    background-color: $color-title;
    border-radius: $border-radius;
    box-shadow: 1px 1px 1px 2px $color-dark;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .column-container {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
    }
}
