@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font: 'Montserrat', sans-serif;

$color-background: #f7f7f7;
$color-column: white;
$color-btn-add: green;
$color-btn-delete: #f58220;
$color-card-background: lightgrey;

$border-radius: 3px;
