@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font: 'Montserrat', sans-serif;

$color-background: rgb(178, 217, 230);
$color-primary: white;
$color-btn-add: green;
$color-btn-delete: #f58220;
$color-dark: grey;
$color-title: rgb(158, 206, 158);

$border-radius: 5px;
